        <form method="get" action="/quizes/answer">
            <label for="pregunta">
                Pregunta: <%= pregunta %>
            </label>
            <input type="text" name="respuesta" value="Responda aqui" />
            <input type="submit" value="Enviar" />
        </form>
